{% extends "base.html" %}
{% block title %}選擇遊戲{% endblock %}

{% block content %}
    <div class="choose_game">
        <br><br><br><br>
        <a class="hyperlink_img" href="" target="_blank">
            <img class="img" src="../../static/game_image/math.png" width="181" alt="數學" />
        </a>
        <a class="hyperlink_img" href="" target="_blank">
            <img class="img" src="../../static/game_image/earth_science.png" width="176" alt="地科" />
        </a>
    </div>

{% endblock %}