{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}登入{% endblock %}

{% block content %}
    <div class="outer_background  login_background">
        <div class="inner_background login_background">
            <h1 class="title"> Login </h1>
            <br/><br/>
            {{ form.hidden_tag() }}
            <form method="post">
                {{ form.email.label(class="form-label")}}
                {{ form.email(class="form-control", style="width:250px") }}
                <br/>
                {{ form.password.label(class="form-label")}}
                {{ form.password(class="form-control", style="width:250px") }}
                <br/>
                {{ form.csrf_token }}
                {{ form.submit(class="btn btn-warning") }}
            </form>
            <br/><br/>
        <p class="description">Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
        </div>
    </div>
{% endblock %}
