{% extends "base.html" %}
{% block title %}其他網站{% endblock %}

{% block content %}
    <div class="router">
        <div class="usefulWebsite">
            <h1 class="Intro_title">實用的線上學習網站</h1>
            <div class="websites">
                <a class="hyperlink" href="https://www.junyiacademy.org/" target="_blank">
                    <button class="hyperlink_button">
                        <div class="icon">
                            <img src="../../static/web_image/junyi.png" alt width="30" height="30">
                        </div>
                        <p class="website_title">均一教育平台</p>
                        <p class="description">提供國小到高中，對應 108 課綱素養導向的學科、素養學習資源。包含均一與許多優質合作單位，共創的多元學習影片、習題、講義。</p>
                    </button>
                </a>
                <br/>
                <a class="hyperlink" href="https://www.pagamo.org/" target="_blank">
                    <button class="hyperlink_button">
                        <div class="icon">
                            <img src="../../static/web_image/pagamo.png" alt width="30" height="30">
                        </div>
                        <p class="website_title">PaGamO</p>
                        <p class="description">提供涵蓋英文學習、證照考試、企業內訓的題庫等。遊戲透過回答題目來攻佔領地，結合知識力與策略性。</p>
                    </button>
                </a>
                <br/>
                <a class="hyperlink" href="https://phet.colorado.edu/zh_TW/" target="_blank">
                    <button class="hyperlink_button">
                        <div class="icon" style="margin-right: 10px;">
                        <img src="../../static/web_image/phet.png" alt width="30" height="30">
                        </div>
                        <p class="website_title">PhET</p>
                        <p class="description">PhET 是一個延伸教育研究專案計畫，透過動畫模擬遊戲的方式吸引學生探索與發現數學、科學方面的各種知識。</p>
                    </button>
                </a>
                <div style="width: 100%;"></div>
                <a class="hyperlink" href="https://tw.voicetube.com/services" target="_blank">
                    <button class="hyperlink_button">
                        <div class="icon">
                        <img src="../../static/web_image/voicetube.png" alt width="30" height="30">
                        </div>
                        <p class="website_title">VoiceTube</p>
                        <p class="description">真人母語的生活場景，讓你學到口語或更正式的英語用法。</p>
                    </button>
                </a>
                <a class="hyperlink" href="https://www.coursera.org/" target="_blank">
                    <button class="hyperlink_button">
                        <div class="icon">
                        <img src="../../static/web_image/coursera.png" alt width="30" height="30">
                        </div>
                        <p class="website_title">Coursera</p>
                        <p class="description">Coursera 是在2012 年由兩位史丹佛大學的教授創立，截至2022 年，Coursera 已經有超過1 億位學生、10000 堂課程、1000 種學程及40 個線上學位。</p>
                    </button>
                </a>
                <a class="hyperlink" href="https://snapask.com/zh-tw/?" target="_blank">
                    <button class="hyperlink_button">
                        <div class="icon">
                        <img src="../../static/web_image/snapask.png" alt width="30" height="30">
                        </div>
                        <p class="website_title">Snapask</p>
                        <p class="description">學生可於Snapask平台上透過「實時問答」獲得即時功課輔導或「模擬測驗」定期作針對性操練。</p>
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}