{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Update Password{% endblock %}

{% block content %}
<div class="outer_background psw_background">
    <div class="inner_background psw_background">
        <h1 class="title">Update Password</h1>
        <br/><br/>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.current_password.label(class="form-label") }}
                {{ form.current_password(class="form-control", style="width:250px") }}
            </div>
            <br/>
            <div class="form-group">
                {{ form.new_password.label(class="form-label") }}
                {{ form.new_password(class="form-control", style="width:250px") }}
            </div>
            <br/>
            <div class="form-group">
                {{ form.new_password2.label(class="form-label") }}
                {{ form.new_password2(class="form-control", style="width:250px") }}
            </div>
            <br/>
            {{ form.csrf_token }}
            {{ form.submit(class="btn btn-warning") }}
        </form>
    </div>
</div>
{% endblock %}
